apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argo

resources:
  - namespace.yaml
  - templates/ci-build-push.yaml
  - templates/ci-test.yaml
  - templates/ci-secure-build.yaml
  - templates/ci-cd-pipeline.yaml
  - templates/deploy-kubernetes.yaml
  - templates/deploy-argocd-sync.yaml

helmCharts:
  - name: argo-workflows
    repo: https://argoproj.github.io/argo-helm
    version: 0.42.5
    releaseName: argo-workflows
    namespace: argo
    valuesFile: values.yaml

commonLabels:
  app.kubernetes.io/part-of: argo-workflows
  app.kubernetes.io/managed-by: kustomize
